<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/header.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/cadastropf.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/footer.css">
    <title>Mais Autonomia</title>
    <script>
    
      function limpa_formulário_cep() {
              //Limpa valores do formulário de cep.
              document.getElementById('rua').value=("");
              document.getElementById('bairro').value=("");
              document.getElementById('cidade').value=("");
              document.getElementById('uf').value=("");
      }
  
      function meu_callback(conteudo) {
            if (!("erro" in conteudo)) {
              //Atualiza os campos com os valores.
              document.getElementById('rua').value=(conteudo.logradouro);
              document.getElementById('bairro').value=(conteudo.bairro);
              document.getElementById('cidade').value=(conteudo.localidade);
              document.getElementById('uf').value=(conteudo.uf);
            
          } //end if.
            else {
              //CEP não Encontrado.
              limpa_formulário_cep();
              alert("CEP não encontrado.");
          }
      }
          
      function pesquisacep(valor) {
  
          //Nova variável "cep" somente com dígitos.
          var cep = valor.replace(/\D/g, '');
  
          //Verifica se campo cep possui valor informado.
          if (cep != "") {
  
              //Expressão regular para validar o CEP.
              var validacep = /^[0-9]{8}$/;
  
              //Valida o formato do CEP.
              if(validacep.test(cep)) {
  
                  //Preenche os campos com "..." enquanto consulta webservice.
                  document.getElementById('rua').value="...";
                  document.getElementById('bairro').value="...";
                  document.getElementById('cidade').value="...";
                  document.getElementById('uf').value="...";
             
  
                  //Cria um elemento javascript.
                  var script = document.createElement('script');
  
                  //Sincroniza com o callback.
                  script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';
  
                  //Insere script no documento e carrega o conteúdo.
                  document.body.appendChild(script);
  
              } //end if.
              else {
                  //cep é inválido.
                  limpa_formulário_cep();
                  alert("Formato de CEP inválido.");
              }
          } //end if.
          else {
              //cep sem valor, limpa formulário.
              limpa_formulário_cep();
          }
      };
  
      </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/html/index.html">Mais Autonomia</a>
            <div class="mais"></div>
            <div class="mais2"></div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/html/servicos.html">Serviços</a>
              </li>
              <li class="nav-item">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">PF</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/html/loginpf.html">Entrar como PF</a></li>
                    <li><a class="dropdown-item" href="/html/cadastropf.html">Cadastrar como PF</a></li>
                  </ul>
                </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">PJ</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/html/loginpj.html">Entrar como PJ</a></li>
                  <li><a class="dropdown-item" href="/html/cadastropj.html">Cadastrar como PJ</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <br/>
    <div class="container">
        <form method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-box">
                      <h1>Informações pessoais</h1>
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Nome"/>
                          <br/>
                        </div>
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Telefone" />
                          <br/>
                        </div>
                        <div class="form-group">
                          <input type="email" class="form-control" required placeholder="Email"/>
                          <br/>
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control" required placeholder="Senha"/>
                          <br/>
                        </div>
                        <div class="form-group">
                          <label for="arquivo">Foto de Identificação</label>
                          <input id="arquivo" type="file" class="form-control-file"/>
                          <br/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="margin-top: 60px;">
                    <div class="form-box">
                      <h1>Localização</h1>
                        <div class="form-group">
                          <input type="text" name="cep" id="cep" class="form-control" required placeholder="CEP" onblur="pesquisacep(this.value);"/>
                          <br/>
                        </div>
                        <div class="form-group">
                          <input type="text" name="rua" id="rua" class="form-control" placeholder="Rua"/>
                          <br/>
                        </div>
                        <div class="form-group">
                          <input type="text" name="num" id="num" class="form-control" placeholder="Número"/>
                          <br/>
                        </div>
                        <div class="form-group">
                          <input type="text" name="comp" id="comp" class="form-control" placeholder="Complemento"/>
                          <br/>
                        </div>
                        <div class="form-group">
                          <input type="text" name="bairro" id="bairro" class="form-control" placeholder="Bairro"/>
                          <br/>
                        </div>
                        <div class="form-group">
                          <input type="text" name="cidade" id="cidade" class="form-control" placeholder="Cidade"/>
                          <br/>
                        </div>
                        <div class="form-group">
                          <input type="text" name="uf" id="uf" class="form-control" placeholder="UF"/>
                        </div>
                    </div>
                </div>
              <div class="col-md-6" style="margin-top: -15px; margin-bottom: 25px;">
                <div class="form-box">
                    <h1>Experiência</h1>
                    <div class="form-group">
                      <textarea type="text" name="rua" id="rua" class="form-control" placeholder="Experiências acadêmicas"></textarea>
                        <br/>
                    </div>
                    <div class="form-group">
                      <textarea type="text" name="rua" id="rua" class="form-control" placeholder="Experiências profissionais"></textarea>
                        <br/>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">
                                Li e concordo com os <a href="/assets/docs/Termos de Uso-Mais Autonomia.pdf" target="_blank">Termos de Uso</a> e 
                                <a href="/assets/docs/Política de Privacidade-Mais Autonomia.pdf" target="_blank">Política de Privacidade</a>.
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary mt-3" value="Cadastre-se"/>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </form>
    </div>


    <footer>Mais Autonomia&trade;.Todos os Direitos Reservados.&#169;</footer>
</body>
</html>