{% extends 'templates/layout.html' %}

{% block title %}Mais Autonomia | Serviço 1{% endblock title %}

{% block content %}
{% include 'components/header.html' %}
<main class="container my-3 min-vh-100">
    <div class="row">
        <div class="col-md-12">
            <h2>Detalhes do serviço</h2>
            <div class="card mt-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <strong class="fs-5">Serviço #{{ servico.id_servicos }}</strong>
                    {% if user and servico.id_cliente == user.id_usuario %}
                       <div class="d-flex gap-2 align-items-center">
                            <button class="btn btn-outline-primary float-end" data-bs-toggle="modal" data-bs-target="#atualizarPedidoModal">
                                Atualizar o serviço
                            </button>   
                            <button class="btn btn-outline-danger float-end" data-bs-toggle="modal" data-bs-target="#deletaServicoModal">
                                Deletar o serviço
                            </button> 
                       </div>  
                    {% else %}
                        <a href="{{ url("/me/servico/#{servico.id_servicos}/proposta") }}" class="btn btn-outline-primary float-end">
                            Fazer uma proposta
                        </a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Serviço: {{ servico.titulo_servicos }}</h5>
                
                    <!-- Detalhes do Serviço -->
                    <div class="mb-3">
                        <h6 class="fw-bold">Detalhes do Serviço</h6>
                        <p class="mb-1"><strong>Descrição:</strong> {{ servico.desc_servicos }}</p>
                        <p class="mb-1"><strong>Valor:</strong>{{ servico.valor_servicos|format_currency('BRL') }}</p>
                        <p class="mb-1"><strong>Prazo de Entrega:</strong> {{ servico.prazo_servicos|date('d/m/Y') }}</p>
                        <p class="mb-1"><strong>Status:</strong> {{ servico.status_servicos }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-4">
            <h2>Propostas</h2>
            {% if propostas %}
                {% for proposta in propostas  %}
                    <div class="card mt-4">
                        <div class="card-header">
                            <h6 class="fw-bold">{{ proposta.nome_usuario }}</h6>
                        </div>
                        <div class="card-body">
                            <p class="mb-1"><strong>Telefone:</strong> {{ proposta.telefone_usuario }}</p>
                            <p class="mb-1"><strong>E-mail:</strong> {{ proposta.email_usuario }}</p>
                            {% if servico.id_cliente == user.id_usuario %}
                                <p class="mb-1"><strong>Valor:</strong> {{ proposta.valor_proposta|format_currency('BRL') }}</p>
                            {% endif %}
                            <hr>
                            <p>{{ proposta.descricao_proposta }}</p>
                        </div>
                        {% if servico.id_cliente == user.id_usuario %}
                            <div class="card-footer">
                                <button class="btn btn-primary" onclick="atualizarServico('Aprovada', {{ proposta.id_proposta }})"
                                    {% if proposta.status_proposta == 'Aprovada' or proposta.status_proposta == 'Rejeitada' %}
                                        disabled
                                    {% endif %}
                                >
                                    Aprovar
                                </button>
                                <button class="btn btn-danger" onclick="atualizarServico('Rejeitada', {{ proposta.id_proposta }})"
                                    {% if proposta.status_proposta == 'Rejeitada' %}
                                        disabled
                                    {% endif %}
                                >
                                    Rejeitar
                                </button>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="mb-3">
                    <p class="mb-1">Aguardando propostas</p>
                </div>
            {% endif %}
        </div>
    </div>
</main>

<!-- Modal para Atualizar Pedido -->
<div class="modal fade" id="atualizarPedidoModal" tabindex="-1" aria-labelledby="atualizarPedidoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="atualizarPedidoModalLabel">Atualizar Pedido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{{url("/me/servicos/atualiza/#{servico.id_servicos}")}}">
                    <div class="mb-3">
                        <label for="titulo_servicos" class="form-label">Titulo do Serviço</label>
                        <input class="form-control" id="titulo_servicos" name="titulo_servicos" value="{{servico.titulo_servicos}}">
                    </div>
                    <div class="mb-3">
                        <label for="desc_servicos" class="form-label">Descrição do Serviço</label>
                        <textarea class="form-control" id="desc_servicos" name="desc_servicos" rows="3">{{servico.desc_servicos}}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="status_servicos" class="form-label">Status do Pedido</label>
                        <select class="form-select" id="status_servicos" name="status_servicos">
                            <option selected>{{ servico.status_servicos }}</option>
                            <option>Em Andamento</option>
                            <option>Concluído</option>
                            <option>Cancelado</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="prazo_servicos" class="form-label">Prazo de Entrega</label>
                        <input type="date" class="form-control" id="prazo_servicos" name="prazo_servicos" value="{{ servico.prazo_servicos|date('Y-m-d') }}">
                    </div>
                    <div class="mb-3">
                        <label for="valor_servicos" class="form-label">Valor do Serviço (R$)</label>
                        <input type="text" class="form-control" id="valor_servicos" name="valor_servicos" value="{{ servico.valor_servicos }}">
                    </div>
                    <button type="submit" class="btn btn-primary">Atualizar Pedido</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deletaServicoModal" tabindex="-1" aria-labelledby="deletaServicoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletaServicoLabel">Deletar serviço</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Deseja realmente deletar o serviço {{ servico.id_servicos }}</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-danger" onclick="deletarServico()">Deletar</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
    <script>
        const deletarServico = async () => {
            try {
                const id = "{{ servico.id_servicos }}"
                const response = await fetch(`{{ url("/me/servicos/deletar/") }}${id}`, {
                    method: "DELETE"
                });

                window.location = response.url
            } catch (error) {
                alert(error.message)
            }
        }

        const atualizarServico = async (status, id) => {
            try {
                const payload = {
                    status
                }
                const response = await fetch(`{{ url("/me/proposta/${id}/atualizar/${status}") }}`, {
                    method: "PATCH"
                });

                window.location = response.url
            } catch (error) {
                alert(error.message)
            }
        }
    </script>
{% endblock script %}