{% extends 'templates/layout.html' %}

{% block title %}Mais Autonomia | Início{% endblock title %}

{% block head %}
<style>
    .navbar-text {
        margin-right: 15px; /* Espaçamento entre o nome do usuário e o select */
    }

    .divider {
        width: 2px;
        height: 40px;
        background-color: #e4e4e7;
    }
</style>
{% endblock head %}

{% block content %}    
<!-- Navbar -->
{% include 'components/header.html' %}

<main class="container my-4 min-vh-100">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="mb-4 fw-bold">Meus Serviços</h3>
        <div>
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#cadastroServicoModal">
                Adicionar Novo Serviço
            </button>
            <a href="{{ url('/me/propostas') }}" class="btn btn-outline-primary">
                Propostas Enviadas
            </a>
        </div>
    </div>

    <div class="row" id="services">
        {% for servico in servicos %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-header">
                    <strong class="card-title">{{  servico.titulo_servicos }}</strong>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {{  servico.desc_servicos }}
                    </p>
                    <p><strong>Valor:</strong> R$ {{  servico.valor_servicos }}</p>
                    <p><strong>Prazo:</strong> {{  servico.prazo_servicos|date("d/m/Y") }}</p>
                </div>
                <div class="card-footer">
                    <a href="{{ url("/me/servicos/#{servico.id_servicos}") }}" class="btn btn-primary">Ver Detalhes</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Modal de Cadastro de Serviço -->
    <div class="modal fade" id="cadastroServicoModal" tabindex="-1" aria-labelledby="cadastroServicoModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cadastroServicoModalLabel">
                        Cadastro de Serviço
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="service" action="{{ url('/me/servicos/cadastro') }}" method="post">
                        <div class="mb-3">
                            <label for="titulo_servicos" class="form-label">Título do Serviço</label>
                            <input type="text" name="titulo_servicos" class="form-control" id="titulo_servicos" required />
                        </div>
                        <div class="mb-3">
                            <label for="desc_servicos" class="form-label">Descrição do Serviço</label>
                            <textarea class="form-control" name="desc_servicos" id="desc_servicos" rows="3" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="valor_servicos" class="form-label">Valor</label>
                            <input type="number" step="any" name="valor_servicos" class="form-control" id="valor_servicos" required />
                        </div>
                        <div class="mb-3">
                            <label for="prazo_servicos" class="form-label">Prazo</label>
                            <input type="date" name="prazo_servicos" class="form-control" id="prazo_servicos" required />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Fechar
                    </button>
                    <button type="submit" class="btn btn-primary" form="service">
                        Cadastrar Serviço
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}