body{
    margin: 0;
    padding: 0;
}
.form-box a{
    color: blue;
}
.form-box {
    background-color: darkolivegreen;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 25px;
    border-radius: 10px;
    color: white;
    margin-bottom: 30px;
}